@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html, body{
    font-family: 'Roboto', sans-serif;   
    font-weight: 700;
    color: #a1d5ff;
    height: 100%;
    background-image: url(Images/polygon.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10%;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100%;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10%;
}
.navbar{
    width:100%;
    /*I removed this height thing so the text wont be waay up on the page*/
    /* height: 25vh; */
    margin: auto;
    display:flex;
    align-items:center;
    text-align: left; 
}

/*Hey this is the new class. It is basically just justify-content center!*/
.text-container{
    display: flex;
    justify-content: center;
}
.github:hover{
    transform: translateY(-7%);
}
.discord:hover{
    transform: translateY(-7%);
}
.stackoverflow:hover{
    transform: translateY(-7%);
}
.CafeBot:hover{
    transform: translateY(-7%);
}
.LearningPython:hover{
    transform: translateY(-7%);
}
.LearningHTML:hover{
    transform: translateY(-7%);
}
.Website:hover{
    transform: translateY(-7%);
}
nav{
    flex: 1;
    padding-left: 40px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #d9dfff;
}
section {
    background-color: #141863;
    margin-bottom: 24px;
    min-height: flex;
    width: fit-content;
    min-width: flex;
    height: flex;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-color: #FFFFFF;
    justify-content:center;
    border: 1px solid Black;
    box-shadow: 0px 10px 20px black;
    }
    img.small {
    border-radius: 35px;
    border: 1px solid Black;
    }
    img.medium {
    border-radius: 35px;
    border: 1px solid Black;
    height: 210px;
    width: 520px;
    }
    h2 {
        padding-top: 15px;
    }
section:hover {
    box-shadow: 0px 20px 40px black;
}
minisection {
    border-radius: 35px;
    border: 1px solid #a1d5ff;
    height: flex;
    width: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}